.signup-body {
  height: 93vh;
  width: 96.8%;
  /* background-image: linear-gradient(to top, #dfdbc1 0%, #e9ecdd 100%); */
  /* background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%); */
  background-image: linear-gradient(to right, #a8edea 0%, #fed6e3 100%);

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.signup-div {
  background: white;
  padding: 40px 30px;
  border-radius: 10px;
  background: transparent;
  width: 99%;
  max-width: 400px; 
  height: 480px;
  margin-left: 250px;
}

.signup-input {
  margin-bottom: 20px; 
}

.signup-button {
  margin-top: 20px;
  background-color: #4caf50;
  color: white;
}

.signup-button:hover {
  background-color: #45a049;
}

/* h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
} */
.signuppic{
  height: 300px;
  width: 350px;
  /* border: 2px solid black; */
  background-image: url(../images/create-new-account-concept-illustration_269560-19bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
