.institutepage{
    height: 100vh;
    width: 100%;
    color: black;
    /* background:linear-gradient(to bottom, #c4e5e8,rgb(219, 212, 202)) */
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);

}

.institutetable {
    color: black;
    width: 100%;
    border-collapse: collapse; 
    border: 2px solid black;
}

.institutetable th,
.institutetable td {
    border: 1px solid black; 
    padding: 8px; 
    text-align: left; 
}
.institutetable th{
    font-weight: bold;
}
.add-institute-form {
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.add-institute-form h2 {
    margin-bottom: 10px;
}

.add-institute-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
}

.add-institute-form button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #0C646F;
    color: white;
    border: none;
    cursor: pointer;
}

.add-institute-form button:last-child {
    background-color: #ccc;
}
.add-institute-button {
    padding: 10px 20px;
    background-color: #0C646F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-left: 5px;
}
.edit-institute-button {
    padding: 10px 20px;
    background-color: #0C646F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.add-institute-button:hover {
    background-color: #094b52;
}

.add-institute-button:active {
    background-color: #073940;
}
