@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: url('../images/person-doing-yoga-nature\ \(1\).jpg') no-repeat right center; 
  background-size: cover; 
  height: 400px;
}

.text-container {
  max-width: 50%;
  padding: 20px;
  border-radius: 10px;
}

.heading {
  font-size: 2em;
  margin: 0 0 10px 0;
  color: white;
  font-family: "playfair display";
}

.description {
  font-size: 1.2em;
  margin: 0 0 20px 0;
  color:white;
}

.button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #00aaff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.heroic{
  height: 500px;
  width: 90%;
  /* border: 2px solid black; */
  /* background-image: url(../images/heropic.jpg); */
  background-size: cover;
  background-position: no-repeat;
  border-radius: 35px;
  /* box-shadow: 0px 4px 8px black; */
  margin-top: -38.9px;
  margin-bottom: 40px;
}
.heroicpic{
  display: flex ;
  flex-direction: column;
  width: 100%;
  height: 160px;
  /* border: 1px solid black; */
  border-radius:35px;
  /* background: linear-gradient(to right,black,black); */
  color:black;
  /* display: flex; */
}
.heroictext{
  display: flex;
  flex-direction:row ;
  flex-wrap:wrap;
  margin-top: 50px;
  margin-left: 70px;
}
.herotext1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 33.3%;
  height: 280px;
  /* border: 2px solid black; */
  border-radius:35px;
}
.herotext1pic{
  height: 100px;
  width: 100px;
  /* border: 2px solid black; */
  
  background-image: url("../Icons/heart.png");
  background-size: cover;
}
.herotext2pic{
  height: 100px;
  width: 100px;
  /* border: 2px solid black; */
  
  background-image: url("../Icons/lotus.png");
  background-size: cover;
}
.herotext3pic{
  height: 100px;
  width: 100px;
  /* border: 2px solid black; */
  
  background-image: url("../Icons/yoga-position.png");
  background-size: cover;
}
.herotext1pictext{
  height: 140px;
  width: 300px;
  /* border: 2px solid black; */
  margin-left: 40px;
  margin-top: 10px;
  text-align: center;
  color: black;
}
.stats-container {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
justify-content: space-around;
  /* background-color: #2c3e50;  */
  padding: 20px;
  border-radius: 10px; 
  width: 100%;
  align-items: center;
}

.stat-item {
  text-align: center;
  color: black;
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
  color: #1e90ff; 
}

.stat-description {
  font-size:16px;
}
.heroheading{
  margin-top: 40px;
  text-align: center;
  width: 100%;
}
.homeclass{
  height: 690px;
  width:100%;
  /* border: 2px solid black; */
  /* background-color:rgb(238, 242, 245); */
  /* background-color: rgb(219, 212, 202); */
}
.lefthomeclass{
  width: 100%;
  height: 40%;
  /* border: 2px solid black; */
  color: #3F6E71;
  font-size: 36px;
  font-family: "sofia-pro", sans-serif;

}
.righthomeclass{
  display: flex;
}
.righthomebox1{
  margin-top: 10px;
  width: 33.3%;
  height: 280px;
  /* border: 2px solid black; */
  border-radius:35px;
}
.righthomebox1pic{
  height: 110px;
  width: 150px;
  /* border: 2px solid black; */
  
  background-image: url("../Icons/image.png");
  background-size: 60%;
  background-repeat: no-repeat;
 margin-left: 170px;

}
.righthomebox2pic{
  height: 110px;
  width: 150px;
  /* border: 2px solid black; */
  
  background-image: url("../Icons/video_8041098.png");
  background-size: 70%;
  background-repeat: no-repeat;
 margin-left: 140px;

}
.righthomebox3pic{
  height: 110px;
  width: 150px;
  /* border: 2px solid black; */
  
  background-image: url("../Icons/artificial-intelligence_900961.png");
  background-size: 70%;
  background-repeat: no-repeat; 
 margin-left: 140px;

}
.homebody{
  width: 100%;
  height: 60%;
  /* border: 2px solid black; */
  /* background-color:#c4e5e8; */
  /* background:linear-gradient(to bottom, rgb(219, 212, 202),#c4e5e8) */
  /* background-image: linear-gradient(to right, #a8edea 0%, #fed6e3 100%); */
  background-image: linear-gradient(-225deg, #baf5e4 0%, #FFE6FA 100%);
}
.browse-button {
 
  background-color: #107a75;

  font-size: 24px;
  color: white;
  border-radius: 25px;
  height: 50px;
  width: 220px;
  margin-left: 490px;
  border: none; 
  cursor: pointer; /* Optional: Change cursor to pointer on hover */
}

.browse-button:hover {
  /* background-color: #08494E; */
  /* transform: translateY(-2px);  */
  color: black;

}

@media (max-width:1050px) {
  .heroictext{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content:center ;
  }
}
